/* TODO: Make it awesome */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;

}

h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: hwb(0 0% 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

nav {
    font-size: 20px;
    background-color: hsl(16, 95%, 60%);
    padding-top: 5px;
    padding-bottom: 5px;
    transform: scale(1.2);
    
    
}

nav > ul {
    display: flex;
    justify-content:space-around;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
   
}

nav >ul >li > a{
    color: black;
    text-decoration: none;
    font-family: Georgia, Times, sans-serif;
    
}

nav > ul > li a:hover{
    color:blue;
    transform: scale(1.2);
}
  
section > img {
    width: 300px;
    height: 200px;
    cursor: pointer;
}

section{
    border: 1px solid #ccc;
    padding: 2% 1% 2% 1%;
}